QWidget {
    font-family: "Work Sans Medium";
    font-weight: 400;
    color: #000000;
}

QMainWindow, QDialog {
    background-color: #F0EDE5;
    color: #000000;
}

QMenuBar {
    color: #000000;
    border-width: 1px;
    border-style: solid;
    border-color: #8A8A87;
}

QMenu {
    background: #F0EDE5;
    border: 1px solid black;
}

QMenu::item:selected {
    background-color: #8A8A87;
}

/*----------------------------------------------*/

QWidget#leftPanelWidget {

}

QTreeView, QTableView {
    background-color: #F0EDE5;
    color: #000000;
    gridline-color: #8A8A87;
}

QTableView {
    font-family: 'JetBrains Mono';
}

QTableView QTableCornerButton::section {
    background: #F0EDE5;
    border: none;
}

QTableView QHeaderView {
    font-family: 'Cascadia Mono';
    background-color: #F0EDE5;
}

QTreeView QHeaderView {
    font-family: 'Work Sans Medium';
    background-color: #F0EDE5;
}

QHeaderView::section {
    background-color: #F0EDE5;
    color: #000000;
    border: 1px solid #8A8A87;
}

QTableView QHeaderView::section {
    background-color: #C5C3BE;
}

QTreeView QHeaderView::section {
    background-color: #C5C3BE;

}

/*-----------------------------------------------*/

QSplitter::handle:horizontal {
    background-color: #8A8A87;
    width: 1px;
}

QSplitter::handle:vertical {
    height: 2px;
}

/* Horizontal Line Separator */
QFrame[frameShape="HLine"] {
    background-color: #8A8A87;
    border: none;
    max-height: 1px;
}