QWidget {
    font-family: "Arial";
    font-weight: 400;
    color: #000000;
}

QMainWindow, QDialog {
    background-color: #dadcce;
    color: #000000;
}

QMenuBar {
    color: #000000;
    font-weight: 600;
    border-width: 1px;
    border-style: solid;
    border-color: #261201;
}

QMenu {
    background: #dadcce;
    border: 1px solid black;
}

QMenu::item:selected {
    background-color: #cdd0c0;
}

/*----------------------------------------------*/

QWidget#leftPanelWidget {

}

QTreeView, QTableView {
    background-color: #dadcce;
    color: #000000;
    gridline-color: #261201;
}

QTableView {
    font-family: 'Cascadia Mono';
}

QTableView QTableCornerButton::section {
    background: #cdd0c0;
    border: none;
}

QTableView QHeaderView {
    font-family: 'Cascadia Mono';
}

QTreeView QHeaderView {
    font-weight: 800;
}

QHeaderView::section {
    background-color: #dadcce;
    color: #000000;
    border: 1px solid #261201;
}

QTableView QHeaderView::section {
    background-color: #cdd0c0;
}

QTreeView QHeaderView::section {
    background-color: #cdd0c0;

}

/*-----------------------------------------------*/

QSplitter::handle:horizontal {
    background-color: #261201;
    width: 1px;
}

QSplitter::handle:vertical {
    height: 2px;
}

/* Horizontal Line Separator */
QFrame[frameShape="HLine"] {
    background-color: #261201;
    border: none;
    max-height: 1px;
}